#instructor-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#instructor-page a {
  color: var(--yellow);
  font-size: 2rem;
  letter-spacing: 0.125rem;
  font-weight: 500;
}

#instructor-page a:hover {
  color: #fff;
  font-weight: 500;
}

#instructor-page ul {
  list-style-type: none;
}
