header {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#logo-title {
  display: flex;
  width: 100%;
}

header img {
  display: inline-block;
  align-self: flex-start;
  margin-left: 2rem;
  width: 5%;
}

nav {
  background-color: var(--ku-blue);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul > li {
  display: inline-block;
  margin: 1rem 1rem 0 1rem;
}

nav ul > li a {
  border-radius: 1rem 1rem 0 0;
  font-weight: 700;
  padding: 0.51rem 1rem 0 1rem;
  text-decoration: none;
}

nav ul > li a:hover {
  background-color: var(--jayhawk-yellow);
  color: #000;
  text-decoration: none;
}

header button {
  align-self: flex-end;
  justify-self: flex-end;
  background-color: var(--jayhawk-yellow);
  border-radius: 1rem 1rem 0 0;
  border: none;
  color: var(--crimson);
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
  width: auto;
}
