header {
  align-items: flex-start;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100vw;
}

h1 {
  color: var(--yellow);
}

header img {
  align-self: start;
  margin-left: 2rem;
  width: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul > li {
  display: inline-block;
  margin: 1rem 1rem 0 1rem;
}

nav ul > li a {
  background-color: var(--gold);
  border-radius: 1rem 1rem 0 0;
  font-weight: 700;
  padding: 0.51rem 1rem 0 1rem;
  text-decoration: none;
}

nav ul > li a:hover {
  background-color: var(--dark-blue);
  color: #fff;
  text-decoration: none;
}

header button {
  align-self: flex-end;
  justify-self: flex-end;
  background-color: var(--grey);
  border-radius: 1rem 1rem 0 0;
  border: none;
  color: #000;
  margin: 0 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem;
  width: auto;
}
