#account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#account input {
  background-color: var(--med-blue);
  border-radius: 1rem;
  border: none;
  color: #fff;
  display: block;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 35rem;
}

#account button {
  background-color: var(--med-blue);
  border-radius: 1rem;
  border: none;
  color: #fff;
  display: block;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 37rem;
}

#account button:hover {
  background-color: var(--gold);
  color: #fff;
}

#account ul {
  list-style-type: none;
}

#signin-methods span {
  font-weight: 700;
  letter-spacing: 0.125rem;
}

#signin-methods ul {
  margin: 0;
  padding: 0;
}
