#home {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#home p {
  color: var(--crimson);
  font-size: 3rem;
}

@media (min-width: 650px) {
  #home {
    align-items: center;
    justify-content: center;
  }

  #home p {
    font-size: 10rem;
    text-shadow: 5px 5px 5px var(--ku-blue);
  }
}
