#user-item span {
  display: block;
}

#user-item ul {
  list-style-type: none;
}

#user-item button {
  background-color: #d8a931;
  border: none;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0.175rem;
}

#user-item button:hover {
  border: 2px solid #000;
  text-decoration: underline;
}

#requests p,
#requests ul {
  margin-left: 2rem;
}
