#user-list ul {
  list-style-type: none;
  padding: 0 0.75rem;
}

#user-list span {
  display: block;
  margin: 0.175rem;
}

#user-list a {
  background-color: var(--ku-blue);
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 0.75rem 0;
  margin: 2rem 0;
  text-align: center;
  width: 36rem;
}

#user-list a:hover {
  background-color: var(--jayhawk-yellow);
  color: #000;
}

@media (min-width: 650px) {
  #user-list a {
    padding: 0.75rem;
    margin: 2rem;
  }
}
