#new-question {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#new-question input {
  background-color: #2121ba;
  border: none;
  color: #fff;
  display: block;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 35rem;
}

#new-question input[type="submit"] {
  background: #d8a931;
  font-weight: 700;
  width: 36.5rem;
}

#new-question input[type="reset"] {
  background-color: #ccc;
  color: #000;
  width: 36.5rem;
}

#new-question input[type="file"] {
  background-color: #10162e;
  width: 35rem;
}

#new-question input[type="submit"]:hover {
  background-color: #6e520c;
  color: #fff;
}

#new-question input[type="reset"]:hover {
  background-color: #6e520c;
  color: #fff;
}

#new-question label {
  font-weight: 700;
}
