.App {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
}

.App-header {
  background-color: var(--ku-blue); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

h2, h3, h4, h5, h6 {
  color: var(--ku-crimson);
}

h2 {
  font-size: 2.75rem;
}

a:hover {
  color: var(--ku-jayhawk-yellow);
}