#create-test-bank {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#create-test-bank input {
  background-color: var(--med-blue);
  border: none;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 35rem;
}

#create-test-bank input[type='submit'] {
  background: var(--yellow);
  color: #000;
  font-weight: 700;
  width: 36.5rem;
}

#create-test-bank input[type='reset'] {
  background-color: var(--grey);
  color: #000;
  width: 36.5rem;
}

#create-test-bank input[type='submit']:hover,
#create-test-bank input[type='reset']:hover {
  background-color: var(--gold);
  color: #fff;
}

#create-test-bank label {
  font-weight: 700;
  letter-spacing: 0.125rem;
}

#create-test-bank p {
  font-size: 2rem;
  font-weight: 700;
}
