#create-test-bank {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#create-test-bank input {
  background-color: #aaa;
  border: none;
  color: #000;
  display: block;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
}

#create-test-bank input[type="submit"] {
  background: var(--ku-blue);
  color: #fff;
  display: inline-block;
}

#create-test-bank input[type="reset"] {
  background-color: #ccc;
  color: #000;
  display: inline-block;
  margin-left: 2rem;
}

#create-test-bank label {
  font-weight: 700;
}

#create-test-bank p {
  font-size: 2rem;
  font-weight: 700;
}
