#hosted-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#hosted-list a {
  background-color: var(--ku-blue);
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 0.75rem;
  text-align: center;
  width: 35rem;
}

#hosted-list a:hover {
  background-color: var(--jayhawk-yellow);
  color: #000;
  text-decoration: none;
}

#hosted-list a:visited {
  color: #fff;
}

#hosted-list ul {
  margin: 0;
  padding: 0;
}
