#test-page ul {
  list-style-type: none;
  padding: 0;
}

#test-page ol {
  list-style-type: none;
}

#test-page #questions .question {
  margin-bottom: 2rem;
}

#test-page #questions img {
  max-width: 60rem;
}

#test-page #questions p {
  font-size: 2.5rem;
  margin: 0;
}
