#test-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#test-list a {
  background-color: var(--med-blue);
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  text-align: center;
  width: 35rem;
}

#test-list a:hover {
  background-color: var(--gold);
  color: #fff;
}

#test-list a:visited {
  color: #fff;
}

#test-list ul {
  margin: 0;
  padding: 0;
}

/* *** Host a Test *** */

#tests-host {
  align-items: center;
  display: flex;
  flex-direction: column;
}
