#student {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
}

#student input {
  background-color: var(--med-blue);
  border: none;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 35rem;
}

#student input[type='submit'] {
  background: var(--yellow);
  color: #000;
  display: inline-block;
  font-weight: 700;
  width: 36.5rem;
}

#student input[type='submit']:hover {
  background-color: var(--gold);
  color: #fff;
}

#student label {
  font-weight: 700;
  letter-spacing: 0.125rem;
}
