#root {
  height: 100%;
  width: 100vw;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  align-self: center;
  font-size: 3rem;
  color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--yellow);
}

h2 {
  background-color: var(--med-dark-blue);
  display: block;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--light-blue);
  text-decoration: underline;
}

.btn {
  background-color: var(--med-blue);
  border: none;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.btn:hover {
  background-color: var(--gold);
}

.toggle {
  background-color: var(--gold);
}

input {
  background-color: var(--med-blue);
  border: none;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
}

input[type="file"] {
  background-color: var(--dark-blue);
  width: 100%;
}

input[type="submit"] {
  background: var(--yellow);
  color: #000;
  font-weight: 700;
  width: 100%;
}

input[type="reset"] {
  background-color: var(--grey);
  color: #000;
  width: 100%;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--gold);
  color: #fff;
  text-decoration: underline;
}

label {
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 700;
}

/* *** Break Point *** */

@media (min-width: 650px) {
  #root {
    height: 100%;
    width: 100vw;
  }

  button {
    cursor: pointer;
  }

  main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 5rem;
    text-shadow: 5px 5px 5px #000;
    color: var(--yellow);
  }

  h2 {
    box-shadow: 10px 5px 5px 5px #000;
    margin: 1rem 0 2.5rem 0;
    font-size: 4rem;
    padding: 1.5rem 0;
    text-shadow: 5px 5px 5px #000;
  }

  h3 {
    font-size: 2.5rem;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: var(--light-blue);
    text-decoration: underline;
  }

  .btn {
    background-color: var(--med-blue);
    border: none;
    border-radius: 1rem;
    color: #fff;
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    width: 40rem;
  }

  .btn:hover {
    background-color: var(--gold);
  }

  .toggle {
    background-color: var(--gold);
  }

  input {
    background-color: var(--med-blue);
    border: none;
    border-radius: 1rem;
    color: #fff;
    display: block;
    font-size: 2rem;
    margin: 0.5rem 0;
    padding: 0.75rem;
    width: 35rem;
  }

  input[type="file"] {
    background-color: var(--dark-blue);
    width: 35rem;
  }

  input[type="submit"] {
    background: var(--yellow);
    color: #000;
    font-weight: 700;
    width: 36.5rem;
  }

  input[type="reset"] {
    background-color: var(--grey);
    color: #000;
    width: 36.5rem;
  }

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: var(--gold);
    color: #fff;
    text-decoration: underline;
  }

  label {
    font-weight: 700;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
  }
}
