#root {
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: #d8a931;
}

h2 {
  font-size: 2.75rem;
  text-align: center;
}

a {
  color: var(--ku-jayhawk-yellow);
  text-decoration: none;
}

a:hover {
  color: var(--ku-jayhawk-yellow);
  text-decoration: underline;
}

.testQuestion {
  border: 1px solid #000;
  border-radius: 1.5rem;
  color: #fff;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 0 auto;
  width: 60%;
}

.testQuestion h3 {
  color: #fff;
}

.testAnswers form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.testAnswers ol {
  align-self: flex-start;
  list-style-type: upper-alpha;
  width: 100%;
}

.testAnswers input[type="submit"] {
  align-self: center;
  background-color: var(--ku-blue);
  border: none;
  border-radius: 1.25rem;
  color: #fff;
  font-size: 2rem;
  padding: 1.25rem 2rem;
  width: 100%;
}
