html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;
  height: 100vh;
  font-family: Raleway, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.125rem;
}
